node_modules/
app/
src/
lib/
.next
public/

.storybook/
*.stories.tsx
*.stories.jsx

*.tsbuildinfo
tsconfig.json
tsconfig.build.json
tsup.config.ts
*.config.mjs

.vscode/
.idea/
.DS_Store

*.log
*.env
src/**/*.jsx
src/**/*.stories.jsx
dist/**/*.jsx
dist/**/*.stories.jsx

src/**/*.stories.js
src/**/*.stories.tsx
dist/**/*.stories.js
dist/**/*.stories.tsx
dist/index.d.ts.map
*.tgz